$textcol: black;
$textbg: #EBF6FF;
$sectcol: white;
$linkcol: rgba(0, 26, 255, 0.836);
$hedrcol: black;
$bgcol: #4E94FE;



body{
    color: $textcol;
    background-color: $bgcol;
}

#envelop{
    background-color: $sectcol;
}

a:link{
    color: $linkcol;
}

a:hover{
    color: lighten($linkcol, 20);
}

a:visited{
    color: purple;
}

#mainheader{
    li{
        color: $hedrcol;
        a:hover{
            color: lighten($hedrcol,20);
        }
        a, a:visited{
            color: darken($hedrcol,10);
        }
        
    }
}

.content{
    background-color: $textbg;
}