*{
    margin: 0px;
    padding:0px;
}
h1{
    margin-left:20px;
}

footer{
    text-align: center;
}

#mainheader{
    margin-bottom: 50px;
    margin-left: 20px;
    @if $mobile == false{
        li{
            margin-right:30px;
        }
    }
}
.envelop{
    margin: auto;
    padding: 5px;
    @if $mobile == true{
        width: 100%;
    }
    @else{
        width: 965px;
    }
}

.content{
    width: 95%;
    margin-bottom: 15px;
    margin-left:20px;
    padding: 2px;
}

.dli{//Lista i handle.html
    margin-bottom: 10px;
}

#logo{
    @if $mobile == true{
        width:100%;
    }    
    @else{
        width: 30%;
    }
    height: auto;
    clear: both;
    margin-bottom: 10px;
}

#logoimg{
    width: 100%;
    height: auto;
}

#displaylist{//Denna div ignorerar CSS av okänd anledning
    width: 50px;
    margin-left:20px;
}
#listimg{
    width:50px; 
    height:auto;
}