$mobile: false;

@import "_sizenmargins";
@import "_colors";
@import "_fonts";
@import "_grids";

//Sätt argumentet som true för stora skärmar och false för små
@mixin menufloat($dofloat){
    #mainheader{
        li{
            list-style: none;
            @if $dofloat == true{
                float:left;
            }
            @else{
                float:none;
            }
        }
    }
}
@include menufloat(true);
@include gridset(false);

//Gömmer knappen som används, på små skärmar, för att ta fram listan
#displaylist{
    display: none;
}


footer{
    //@extend #envelop;
    width: 100%;
}

@media only screen and (max-width : 500px){
    $mobile: true;
    @import "_sizenmargins";
    @import "_colors";
    @import "_fonts";
    @include menufloat(false);
    @include gridset(true)

    #displaylist{
        display: inline;
    }

    //Gömmer listan över Lorem Ipsum så det inte tar så stor plats i mobilen
    #lilist{
        display: none;
    }
}